
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,rgb(39, 46, 40),rgb(61, 57, 57));
}

.calculator{
    width: 400px;
    border: 1px solid rgb(101, 101, 101);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px grey;
}

input{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    text-align: right;
    color: white;
    cursor: pointer;

}

input::placeholder{
    color: white;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 25px;
    box-shadow: -0.2px -1px 2px 0px gray;
    cursor: pointer;
}

.answer{
    background-color: rgb(252, 182, 53);
}

.operator{
 color: rgb(47, 255, 47);
}

